target/cb-discussion-service-0.0.1-SNAPSHOT.jar
target/cb-discussion-service-0.0.1-SNAPSHOT.jar.original
target/jacoco.exec
target/classes/application.properties
target/classes/cassandra.config.properties
target/classes/cassandratablecolumn.properties
target/classes/customerror.properties
target/classes/EsFieldsmapping/communityEsFilePath.json
target/classes/EsFieldsmapping/discussionEsMapping.json
target/classes/com/igot/cb/CbDiscussionServiceApplication.class
target/classes/com/igot/cb/config/ConsumerConfiguration.class
target/classes/com/igot/cb/config/ProducerConfiguration.class
target/classes/com/igot/cb/discussion/controller/DiscussionController.class
target/classes/com/igot/cb/discussion/entity/CommunityEntity.class
target/classes/com/igot/cb/discussion/entity/DiscussionAnswerPostReplyEntity.class
target/classes/com/igot/cb/discussion/entity/DiscussionEntity.class
target/classes/com/igot/cb/discussion/repository/CommunityEngagementRepository.class
target/classes/com/igot/cb/discussion/repository/DiscussionAnswerPostReplyRepository.class
target/classes/com/igot/cb/discussion/repository/DiscussionRepository.class
target/classes/com/igot/cb/discussion/service/AnswerPostReplyService.class
target/classes/com/igot/cb/discussion/service/DiscussionService.class
target/classes/com/igot/cb/discussion/service/impl/AnswerPostReplyServiceImpl.class
target/classes/com/igot/cb/discussion/service/impl/AnswerPostReplyServiceImpl$1.class
target/classes/com/igot/cb/discussion/service/impl/AnswerPostReplyServiceImpl$2.class
target/classes/com/igot/cb/discussion/service/impl/AnswerPostReplyServiceImpl$3.class
target/classes/com/igot/cb/discussion/service/impl/AnswerPostReplyServiceImpl$4.class
target/classes/com/igot/cb/discussion/service/impl/AnswerPostReplyServiceImpl$5.class
target/classes/com/igot/cb/discussion/service/impl/DiscussionServiceImpl.class
target/classes/com/igot/cb/discussion/service/impl/DiscussionServiceImpl$1.class
target/classes/com/igot/cb/discussion/service/impl/DiscussionServiceImpl$2.class
target/classes/com/igot/cb/discussion/service/impl/DiscussionServiceImpl$3.class
target/classes/com/igot/cb/discussion/service/impl/DiscussionServiceImpl$4.class
target/classes/com/igot/cb/discussion/service/impl/DiscussionServiceImpl$5.class
target/classes/com/igot/cb/metrics/controller/ApiMetricsController.class
target/classes/com/igot/cb/metrics/service/ApiMetricsTracker.class
target/classes/com/igot/cb/metrics/service/ApiMetricsTracker$ApiMetrics.class
target/classes/com/igot/cb/metrics/service/ApiMetricsTracker$ApiMetricsResponse.class
target/classes/com/igot/cb/metrics/service/ApiMetricsTracker$DbMetrics.class
target/classes/com/igot/cb/metrics/service/ApiMetricsTracker$DbMetricsResponse.class
target/classes/com/igot/cb/notificationUtill/HelperMethodService.class
target/classes/com/igot/cb/notificationUtill/HelperMethodService$1.class
target/classes/com/igot/cb/notificationUtill/NotificationTriggerService.class
target/classes/com/igot/cb/pores/cache/CacheService.class
target/classes/com/igot/cb/pores/config/RedisConfig.class
target/classes/com/igot/cb/pores/elasticsearch/config/EsConfig.class
target/classes/com/igot/cb/pores/elasticsearch/dto/FacetDTO.class
target/classes/com/igot/cb/pores/elasticsearch/dto/SearchCriteria.class
target/classes/com/igot/cb/pores/elasticsearch/dto/SearchResult.class
target/classes/com/igot/cb/pores/elasticsearch/service/EsUtilService.class
target/classes/com/igot/cb/pores/elasticsearch/service/EsUtilServiceImpl.class
target/classes/com/igot/cb/pores/elasticsearch/service/EsUtilServiceImpl$1.class
target/classes/com/igot/cb/pores/elasticsearch/service/EsUtilServiceImpl$2.class
target/classes/com/igot/cb/pores/elasticsearch/service/EsUtilServiceImpl$3.class
target/classes/com/igot/cb/pores/exceptions/CustomException.class
target/classes/com/igot/cb/pores/exceptions/ErrorResponse.class
target/classes/com/igot/cb/pores/exceptions/ErrorResponse$ErrorResponseBuilder.class
target/classes/com/igot/cb/pores/exceptions/RestExceptionHandling.class
target/classes/com/igot/cb/pores/util/CbServerProperties.class
target/classes/com/igot/cb/pores/util/Constants.class
target/classes/com/igot/cb/pores/util/DiscussionServiceUtil.class
target/classes/com/igot/cb/pores/util/JsonSchemaCache.class
target/classes/com/igot/cb/pores/util/PayloadValidation.class
target/classes/com/igot/cb/pores/util/ProjectUtil.class
target/classes/com/igot/cb/producer/Producer.class
target/classes/com/igot/cb/profanity/IProfanityCheckService.class
target/classes/com/igot/cb/profanity/consumer/LanguageDetectionConsumer.class
target/classes/com/igot/cb/profanity/consumer/ProfanityConsumer.class
target/classes/com/igot/cb/profanity/consumer/ProfanityConsumer$1.class
target/classes/com/igot/cb/profanity/consumer/ProfanityConsumer$2.class
target/classes/com/igot/cb/profanity/impl/ProfanityCheckServiceImpl.class
target/classes/payloadValidation/answerPostReplyUpdateValidation.json
target/classes/payloadValidation/answerPostReplyValidation.json
target/classes/payloadValidation/answerPostUpdateValidation.json
target/classes/payloadValidation/discussionAnswerPostValidation.json
target/classes/payloadValidation/discussionUpdateValidation.json
target/classes/payloadValidation/discussionValidation.json
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/site/jacoco/index.html
target/site/jacoco/jacoco-sessions.html
target/site/jacoco/jacoco.csv
target/site/jacoco/jacoco.xml
target/site/jacoco/com.igot.cb/CbDiscussionServiceApplication.html
target/site/jacoco/com.igot.cb/CbDiscussionServiceApplication.java.html
target/site/jacoco/com.igot.cb/index.html
target/site/jacoco/com.igot.cb/index.source.html
target/site/jacoco/com.igot.cb.config/ConsumerConfiguration.html
target/site/jacoco/com.igot.cb.config/ConsumerConfiguration.java.html
target/site/jacoco/com.igot.cb.config/index.html
target/site/jacoco/com.igot.cb.config/index.source.html
target/site/jacoco/com.igot.cb.config/ProducerConfiguration.html
target/site/jacoco/com.igot.cb.config/ProducerConfiguration.java.html
target/site/jacoco/com.igot.cb.discussion.controller/DiscussionController.html
target/site/jacoco/com.igot.cb.discussion.controller/DiscussionController.java.html
target/site/jacoco/com.igot.cb.discussion.controller/index.html
target/site/jacoco/com.igot.cb.discussion.controller/index.source.html
target/site/jacoco/com.igot.cb.discussion.entity/CommunityEntity.html
target/site/jacoco/com.igot.cb.discussion.entity/CommunityEntity.java.html
target/site/jacoco/com.igot.cb.discussion.entity/DiscussionAnswerPostReplyEntity.html
target/site/jacoco/com.igot.cb.discussion.entity/DiscussionAnswerPostReplyEntity.java.html
target/site/jacoco/com.igot.cb.discussion.entity/DiscussionEntity.html
target/site/jacoco/com.igot.cb.discussion.entity/DiscussionEntity.java.html
target/site/jacoco/com.igot.cb.discussion.entity/index.html
target/site/jacoco/com.igot.cb.discussion.entity/index.source.html
target/site/jacoco/com.igot.cb.discussion.service.impl/AnswerPostReplyServiceImpl.html
target/site/jacoco/com.igot.cb.discussion.service.impl/AnswerPostReplyServiceImpl.java.html
target/site/jacoco/com.igot.cb.discussion.service.impl/AnswerPostReplyServiceImpl$1.html
target/site/jacoco/com.igot.cb.discussion.service.impl/AnswerPostReplyServiceImpl$2.html
target/site/jacoco/com.igot.cb.discussion.service.impl/AnswerPostReplyServiceImpl$3.html
target/site/jacoco/com.igot.cb.discussion.service.impl/AnswerPostReplyServiceImpl$4.html
target/site/jacoco/com.igot.cb.discussion.service.impl/AnswerPostReplyServiceImpl$5.html
target/site/jacoco/com.igot.cb.discussion.service.impl/DiscussionServiceImpl.html
target/site/jacoco/com.igot.cb.discussion.service.impl/DiscussionServiceImpl.java.html
target/site/jacoco/com.igot.cb.discussion.service.impl/DiscussionServiceImpl$1.html
target/site/jacoco/com.igot.cb.discussion.service.impl/DiscussionServiceImpl$2.html
target/site/jacoco/com.igot.cb.discussion.service.impl/DiscussionServiceImpl$3.html
target/site/jacoco/com.igot.cb.discussion.service.impl/DiscussionServiceImpl$4.html
target/site/jacoco/com.igot.cb.discussion.service.impl/DiscussionServiceImpl$5.html
target/site/jacoco/com.igot.cb.discussion.service.impl/index.html
target/site/jacoco/com.igot.cb.discussion.service.impl/index.source.html
target/site/jacoco/com.igot.cb.metrics.controller/ApiMetricsController.html
target/site/jacoco/com.igot.cb.metrics.controller/ApiMetricsController.java.html
target/site/jacoco/com.igot.cb.metrics.controller/index.html
target/site/jacoco/com.igot.cb.metrics.controller/index.source.html
target/site/jacoco/com.igot.cb.metrics.service/ApiMetricsTracker.html
target/site/jacoco/com.igot.cb.metrics.service/ApiMetricsTracker.java.html
target/site/jacoco/com.igot.cb.metrics.service/ApiMetricsTracker$ApiMetrics.html
target/site/jacoco/com.igot.cb.metrics.service/ApiMetricsTracker$ApiMetricsResponse.html
target/site/jacoco/com.igot.cb.metrics.service/ApiMetricsTracker$DbMetrics.html
target/site/jacoco/com.igot.cb.metrics.service/ApiMetricsTracker$DbMetricsResponse.html
target/site/jacoco/com.igot.cb.metrics.service/index.html
target/site/jacoco/com.igot.cb.metrics.service/index.source.html
target/site/jacoco/com.igot.cb.notificationUtill/HelperMethodService.html
target/site/jacoco/com.igot.cb.notificationUtill/HelperMethodService.java.html
target/site/jacoco/com.igot.cb.notificationUtill/HelperMethodService$1.html
target/site/jacoco/com.igot.cb.notificationUtill/index.html
target/site/jacoco/com.igot.cb.notificationUtill/index.source.html
target/site/jacoco/com.igot.cb.notificationUtill/NotificationTriggerService.html
target/site/jacoco/com.igot.cb.notificationUtill/NotificationTriggerService.java.html
target/site/jacoco/com.igot.cb.pores.cache/CacheService.html
target/site/jacoco/com.igot.cb.pores.cache/CacheService.java.html
target/site/jacoco/com.igot.cb.pores.cache/index.html
target/site/jacoco/com.igot.cb.pores.cache/index.source.html
target/site/jacoco/com.igot.cb.pores.config/index.html
target/site/jacoco/com.igot.cb.pores.config/index.source.html
target/site/jacoco/com.igot.cb.pores.config/RedisConfig.html
target/site/jacoco/com.igot.cb.pores.config/RedisConfig.java.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.config/EsConfig.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.config/EsConfig.java.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.config/index.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.config/index.source.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.dto/FacetDTO.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.dto/FacetDTO.java.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.dto/index.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.dto/index.source.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.dto/SearchCriteria.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.dto/SearchCriteria.java.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.dto/SearchResult.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.dto/SearchResult.java.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.service/EsUtilServiceImpl.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.service/EsUtilServiceImpl.java.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.service/EsUtilServiceImpl$1.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.service/EsUtilServiceImpl$2.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.service/EsUtilServiceImpl$3.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.service/index.html
target/site/jacoco/com.igot.cb.pores.elasticsearch.service/index.source.html
target/site/jacoco/com.igot.cb.pores.exceptions/CustomException.html
target/site/jacoco/com.igot.cb.pores.exceptions/CustomException.java.html
target/site/jacoco/com.igot.cb.pores.exceptions/ErrorResponse.html
target/site/jacoco/com.igot.cb.pores.exceptions/ErrorResponse.java.html
target/site/jacoco/com.igot.cb.pores.exceptions/ErrorResponse$ErrorResponseBuilder.html
target/site/jacoco/com.igot.cb.pores.exceptions/index.html
target/site/jacoco/com.igot.cb.pores.exceptions/index.source.html
target/site/jacoco/com.igot.cb.pores.exceptions/RestExceptionHandling.html
target/site/jacoco/com.igot.cb.pores.exceptions/RestExceptionHandling.java.html
target/site/jacoco/com.igot.cb.pores.util/CbServerProperties.html
target/site/jacoco/com.igot.cb.pores.util/CbServerProperties.java.html
target/site/jacoco/com.igot.cb.pores.util/Constants.html
target/site/jacoco/com.igot.cb.pores.util/Constants.java.html
target/site/jacoco/com.igot.cb.pores.util/DiscussionServiceUtil.html
target/site/jacoco/com.igot.cb.pores.util/DiscussionServiceUtil.java.html
target/site/jacoco/com.igot.cb.pores.util/index.html
target/site/jacoco/com.igot.cb.pores.util/index.source.html
target/site/jacoco/com.igot.cb.pores.util/JsonSchemaCache.html
target/site/jacoco/com.igot.cb.pores.util/JsonSchemaCache.java.html
target/site/jacoco/com.igot.cb.pores.util/PayloadValidation.html
target/site/jacoco/com.igot.cb.pores.util/PayloadValidation.java.html
target/site/jacoco/com.igot.cb.pores.util/ProjectUtil.html
target/site/jacoco/com.igot.cb.pores.util/ProjectUtil.java.html
target/site/jacoco/com.igot.cb.producer/index.html
target/site/jacoco/com.igot.cb.producer/index.source.html
target/site/jacoco/com.igot.cb.producer/Producer.html
target/site/jacoco/com.igot.cb.producer/Producer.java.html
target/site/jacoco/com.igot.cb.profanity.consumer/index.html
target/site/jacoco/com.igot.cb.profanity.consumer/index.source.html
target/site/jacoco/com.igot.cb.profanity.consumer/LanguageDetectionConsumer.html
target/site/jacoco/com.igot.cb.profanity.consumer/LanguageDetectionConsumer.java.html
target/site/jacoco/com.igot.cb.profanity.consumer/ProfanityConsumer.html
target/site/jacoco/com.igot.cb.profanity.consumer/ProfanityConsumer.java.html
target/site/jacoco/com.igot.cb.profanity.consumer/ProfanityConsumer$1.html
target/site/jacoco/com.igot.cb.profanity.consumer/ProfanityConsumer$2.html
target/site/jacoco/com.igot.cb.profanity.impl/index.html
target/site/jacoco/com.igot.cb.profanity.impl/index.source.html
target/site/jacoco/com.igot.cb.profanity.impl/ProfanityCheckServiceImpl.html
target/site/jacoco/com.igot.cb.profanity.impl/ProfanityCheckServiceImpl.java.html
target/site/jacoco/jacoco-resources/branchfc.gif
target/site/jacoco/jacoco-resources/branchnc.gif
target/site/jacoco/jacoco-resources/branchpc.gif
target/site/jacoco/jacoco-resources/bundle.gif
target/site/jacoco/jacoco-resources/class.gif
target/site/jacoco/jacoco-resources/down.gif
target/site/jacoco/jacoco-resources/greenbar.gif
target/site/jacoco/jacoco-resources/group.gif
target/site/jacoco/jacoco-resources/method.gif
target/site/jacoco/jacoco-resources/package.gif
target/site/jacoco/jacoco-resources/prettify.css
target/site/jacoco/jacoco-resources/prettify.js
target/site/jacoco/jacoco-resources/redbar.gif
target/site/jacoco/jacoco-resources/report.css
target/site/jacoco/jacoco-resources/report.gif
target/site/jacoco/jacoco-resources/session.gif
target/site/jacoco/jacoco-resources/sort.gif
target/site/jacoco/jacoco-resources/sort.js
target/site/jacoco/jacoco-resources/source.gif
target/site/jacoco/jacoco-resources/up.gif
target/surefire-reports/com.igot.cb.CbDiscussionServiceApplicationTest.txt
target/surefire-reports/com.igot.cb.config.ConsumerConfigurationTest.txt
target/surefire-reports/com.igot.cb.config.ProducerConfigurationTest.txt
target/surefire-reports/com.igot.cb.discussion.controller.DiscussionControllerTest.txt
target/surefire-reports/com.igot.cb.discussion.entity.CommunityEntityTest.txt
target/surefire-reports/com.igot.cb.discussion.entity.DiscussionAnswerPostReplyEntityTest.txt
target/surefire-reports/com.igot.cb.discussion.entity.DiscussionEntityTest.txt
target/surefire-reports/com.igot.cb.elasticsearch.service.EsUtilServiceImplMethodTest.txt
target/surefire-reports/com.igot.cb.elasticsearch.service.EsUtilServiceImplTest.txt
target/surefire-reports/com.igot.cb.metrics.controller.ApiMetricsControllerTest.txt
target/surefire-reports/com.igot.cb.metrics.service.ApiMetricsTrackerTest.txt
target/surefire-reports/com.igot.cb.notificationUtill.HelperMethodServiceTest.txt
target/surefire-reports/com.igot.cb.notificationUtill.NotificationTriggerServiceTest.txt
target/surefire-reports/com.igot.cb.pores.cache.CacheServiceTest.txt
target/surefire-reports/com.igot.cb.pores.config.RedisConfigTest.txt
target/surefire-reports/com.igot.cb.pores.elasticsearch.config.EsConfigTest.txt
target/surefire-reports/com.igot.cb.pores.elasticsearch.dto.FacetDTOTest.txt
target/surefire-reports/com.igot.cb.pores.elasticsearch.dto.SearchCriteriaTest.txt
target/surefire-reports/com.igot.cb.pores.elasticsearch.service.EsUtilServiceImplBuildFilterQueryTest.txt
target/surefire-reports/com.igot.cb.pores.elasticsearch.service.EsUtilServiceImplBuildQueryPartTest.txt
target/surefire-reports/com.igot.cb.pores.elasticsearch.service.EsUtilServiceImplCompleteTest.txt
target/surefire-reports/com.igot.cb.pores.elasticsearch.service.EsUtilServiceImplTest.txt
target/surefire-reports/com.igot.cb.pores.exceptions.RestExceptionHandlingTest.txt
target/surefire-reports/com.igot.cb.pores.util.CbServerPropertiesTest.txt
target/surefire-reports/com.igot.cb.pores.util.JsonSchemaCacheTest.txt
target/surefire-reports/com.igot.cb.pores.util.PayloadValidationTest.txt
target/surefire-reports/com.igot.cb.producer.ProducerTest.txt
target/surefire-reports/com.igot.cb.profanity.consumer.LanguageDetectionConsumerTest.txt
target/surefire-reports/com.igot.cb.profanity.consumer.ProfanityConsumerTest.txt
target/surefire-reports/com.igot.cb.profanity.impl.ProfanityCheckServiceImplTest.txt
target/surefire-reports/com.igot.cb.service.impl.AnswerPostReplyServiceImplTest.txt
target/surefire-reports/com.igot.cb.service.impl.DiscussionServiceImpl2Test.txt
target/surefire-reports/com.igot.cb.service.impl.DiscussionServiceImplCreateDiscussionTest.txt
target/surefire-reports/com.igot.cb.service.impl.DiscussionServiceImplMethodTest.txt
target/surefire-reports/com.igot.cb.service.impl.DiscussionServiceImplTest.txt
target/surefire-reports/com.igot.cb.service.impl.DiscussionServiceImplValidateReportPayloadTest.txt
target/surefire-reports/com.igot.cb.service.impl.EnhanceCommunityDataTest.txt
target/surefire-reports/TEST-com.igot.cb.CbDiscussionServiceApplicationTest.xml
target/surefire-reports/TEST-com.igot.cb.config.ConsumerConfigurationTest.xml
target/surefire-reports/TEST-com.igot.cb.config.ProducerConfigurationTest.xml
target/surefire-reports/TEST-com.igot.cb.discussion.controller.DiscussionControllerTest.xml
target/surefire-reports/TEST-com.igot.cb.discussion.entity.CommunityEntityTest.xml
target/surefire-reports/TEST-com.igot.cb.discussion.entity.DiscussionAnswerPostReplyEntityTest.xml
target/surefire-reports/TEST-com.igot.cb.discussion.entity.DiscussionEntityTest.xml
target/surefire-reports/TEST-com.igot.cb.elasticsearch.service.EsUtilServiceImplMethodTest.xml
target/surefire-reports/TEST-com.igot.cb.elasticsearch.service.EsUtilServiceImplTest.xml
target/surefire-reports/TEST-com.igot.cb.metrics.controller.ApiMetricsControllerTest.xml
target/surefire-reports/TEST-com.igot.cb.metrics.service.ApiMetricsTrackerTest.xml
target/surefire-reports/TEST-com.igot.cb.notificationUtill.HelperMethodServiceTest.xml
target/surefire-reports/TEST-com.igot.cb.notificationUtill.NotificationTriggerServiceTest.xml
target/surefire-reports/TEST-com.igot.cb.pores.cache.CacheServiceTest.xml
target/surefire-reports/TEST-com.igot.cb.pores.config.RedisConfigTest.xml
target/surefire-reports/TEST-com.igot.cb.pores.elasticsearch.config.EsConfigTest.xml
target/surefire-reports/TEST-com.igot.cb.pores.elasticsearch.dto.FacetDTOTest.xml
target/surefire-reports/TEST-com.igot.cb.pores.elasticsearch.dto.SearchCriteriaTest.xml
target/surefire-reports/TEST-com.igot.cb.pores.elasticsearch.service.EsUtilServiceImplBuildFilterQueryTest.xml
target/surefire-reports/TEST-com.igot.cb.pores.elasticsearch.service.EsUtilServiceImplBuildQueryPartTest.xml
target/surefire-reports/TEST-com.igot.cb.pores.elasticsearch.service.EsUtilServiceImplCompleteTest.xml
target/surefire-reports/TEST-com.igot.cb.pores.elasticsearch.service.EsUtilServiceImplTest.xml
target/surefire-reports/TEST-com.igot.cb.pores.exceptions.RestExceptionHandlingTest.xml
target/surefire-reports/TEST-com.igot.cb.pores.util.CbServerPropertiesTest.xml
target/surefire-reports/TEST-com.igot.cb.pores.util.JsonSchemaCacheTest.xml
target/surefire-reports/TEST-com.igot.cb.pores.util.PayloadValidationTest.xml
target/surefire-reports/TEST-com.igot.cb.producer.ProducerTest.xml
target/surefire-reports/TEST-com.igot.cb.profanity.consumer.LanguageDetectionConsumerTest.xml
target/surefire-reports/TEST-com.igot.cb.profanity.consumer.ProfanityConsumerTest.xml
target/surefire-reports/TEST-com.igot.cb.profanity.impl.ProfanityCheckServiceImplTest.xml
target/surefire-reports/TEST-com.igot.cb.service.impl.AnswerPostReplyServiceImplTest.xml
target/surefire-reports/TEST-com.igot.cb.service.impl.DiscussionServiceImpl2Test.xml
target/surefire-reports/TEST-com.igot.cb.service.impl.DiscussionServiceImplCreateDiscussionTest.xml
target/surefire-reports/TEST-com.igot.cb.service.impl.DiscussionServiceImplMethodTest.xml
target/surefire-reports/TEST-com.igot.cb.service.impl.DiscussionServiceImplTest.xml
target/surefire-reports/TEST-com.igot.cb.service.impl.DiscussionServiceImplValidateReportPayloadTest.xml
target/surefire-reports/TEST-com.igot.cb.service.impl.EnhanceCommunityDataTest.xml
target/test-classes/schema.json
target/test-classes/com/igot/cb/CbDiscussionServiceApplicationTest.class
target/test-classes/com/igot/cb/config/ConsumerConfigurationTest.class
target/test-classes/com/igot/cb/config/ProducerConfigurationTest.class
target/test-classes/com/igot/cb/discussion/controller/DiscussionControllerTest.class
target/test-classes/com/igot/cb/discussion/entity/CommunityEntityTest.class
target/test-classes/com/igot/cb/discussion/entity/DiscussionAnswerPostReplyEntityTest.class
target/test-classes/com/igot/cb/discussion/entity/DiscussionEntityTest.class
target/test-classes/com/igot/cb/elasticsearch/service/EsUtilServiceImplMethodTest.class
target/test-classes/com/igot/cb/elasticsearch/service/EsUtilServiceImplTest.class
target/test-classes/com/igot/cb/metrics/controller/ApiMetricsControllerTest.class
target/test-classes/com/igot/cb/metrics/service/ApiMetricsTrackerTest.class
target/test-classes/com/igot/cb/notificationUtill/HelperMethodServiceTest.class
target/test-classes/com/igot/cb/notificationUtill/HelperMethodServiceTest$1.class
target/test-classes/com/igot/cb/notificationUtill/HelperMethodServiceTest$2.class
target/test-classes/com/igot/cb/notificationUtill/HelperMethodServiceTest$3.class
target/test-classes/com/igot/cb/notificationUtill/NotificationTriggerServiceTest.class
target/test-classes/com/igot/cb/pores/cache/CacheServiceTest.class
target/test-classes/com/igot/cb/pores/config/RedisConfigTest.class
target/test-classes/com/igot/cb/pores/config/RedisConfigTest$CacheManagerTestConfig.class
target/test-classes/com/igot/cb/pores/elasticsearch/config/EsConfigTest.class
target/test-classes/com/igot/cb/pores/elasticsearch/dto/FacetDTOTest.class
target/test-classes/com/igot/cb/pores/elasticsearch/dto/SearchCriteriaTest.class
target/test-classes/com/igot/cb/pores/elasticsearch/service/EsUtilServiceImplBuildFilterQueryTest.class
target/test-classes/com/igot/cb/pores/elasticsearch/service/EsUtilServiceImplBuildQueryPartTest.class
target/test-classes/com/igot/cb/pores/elasticsearch/service/EsUtilServiceImplCompleteTest.class
target/test-classes/com/igot/cb/pores/elasticsearch/service/EsUtilServiceImplTest.class
target/test-classes/com/igot/cb/pores/exceptions/RestExceptionHandlingTest.class
target/test-classes/com/igot/cb/pores/util/CbServerPropertiesTest.class
target/test-classes/com/igot/cb/pores/util/JsonSchemaCacheTest.class
target/test-classes/com/igot/cb/pores/util/PayloadValidationTest.class
target/test-classes/com/igot/cb/producer/ProducerTest.class
target/test-classes/com/igot/cb/producer/ProducerTest$1.class
target/test-classes/com/igot/cb/producer/ProducerTest$TestMessage.class
target/test-classes/com/igot/cb/profanity/consumer/LanguageDetectionConsumerTest.class
target/test-classes/com/igot/cb/profanity/consumer/LanguageDetectionConsumerTest$1.class
target/test-classes/com/igot/cb/profanity/consumer/ProfanityConsumerTest.class
target/test-classes/com/igot/cb/profanity/consumer/ProfanityConsumerTest$1.class
target/test-classes/com/igot/cb/profanity/impl/ProfanityCheckServiceImplTest.class
target/test-classes/com/igot/cb/service/impl/AnswerPostReplyServiceImplTest.class
target/test-classes/com/igot/cb/service/impl/DiscussionServiceImpl2Test.class
target/test-classes/com/igot/cb/service/impl/DiscussionServiceImpl2Test$1.class
target/test-classes/com/igot/cb/service/impl/DiscussionServiceImplCreateDiscussionTest.class
target/test-classes/com/igot/cb/service/impl/DiscussionServiceImplMethodTest.class
target/test-classes/com/igot/cb/service/impl/DiscussionServiceImplTest.class
target/test-classes/com/igot/cb/service/impl/DiscussionServiceImplValidateReportPayloadTest.class
target/test-classes/com/igot/cb/service/impl/EnhanceCommunityDataTest.class
target/test-classes/schema/test-schema.json
